Data\ Structures\ and\ Algorithms/SDA\ Lab2/.idea
Data\ Structures\ and\ Algorithms/SDA\ Lab2/venv
Data\ Structures\ and\ Algorithms/SDA\ Lab2/package/__pycache__
Advanced\ Programming\ Methods/.idea
Advanced\ Programming\ Methods/out
Advanced\ Programming\ Methods/MAP_A2.iml
